<a href="https://colab.research.google.com/github/RhaSeimoha/data-science-fiap/blob/main/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Aula 1 - 11.02.2023

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/Gradua%C3%A7%C3%A3o/dados/diamonds.csv")

In [2]:
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [3]:
df[['price']].tail()

       price
53935   2757
53936   2757
53937   2757
53938   2757
53939   2757

In [4]:
df[['price']].count()

price    53940
dtype: int64

In [6]:
#Media
df[['price']].mean()

price    3932.799722
dtype: float64

In [7]:
#Mediana
df[['price']].median()

price    2401.0
dtype: float64

In [8]:
#Desvio Padrão
df[['price']].std()

price    3989.439738
dtype: float64

In [9]:
#Geração de Amostra da População do Arquivo
# Iremos selecionar 3.000 linhas (escolha do professor essa volumetria)

#iloc -> busca linhas pelo indice dela (indice da linha => posição dentro do arquivo)
a1 = df.iloc[0:2999, :]

In [10]:
a1.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [12]:
a1[["price"]].median()

price    2963.0
dtype: float64

In [13]:
a1[["price"]].mean()

price    2738.932978
dtype: float64

In [14]:
a1[["price"]].std()

price    793.63371
dtype: float64

In [ ]:
#A amostra carregada em A1 é bem diferente da população

In [15]:
a2 = df.iloc[3000:5999, :]

In [16]:
a2[["price"]].mean()

price    3324.236746
dtype: float64

In [17]:
a2[["price"]].median()

price    3601.0
dtype: float64

In [18]:
a2[["price"]].std()

price    941.000147
dtype: float64

Amostra 2 (a2):
Não deu certo também, pois esta diferente da população

In [67]:
a3 = df.sample(3000, random_state=37)
#usar random-state para marcar uma amostra
#esse comando quando for 2, sempre vai retornar a mesma amostra

In [59]:
a3.shape

(3000, 11)

In [68]:
a3[["price"]].mean()

price    3961.57
dtype: float64

In [69]:
a3[["price"]].median()

price    2404.5
dtype: float64

In [70]:
a3[["price"]].std()

price    3999.954932
dtype: float64